.create-new {
	padding-top: 40px;
	padding-bottom: 20px;
}

.align-text {
	align-content: center;
	text-align: center;
}

.circuit-list {
	padding: 0 30px;
}

.upload-dialog-box {
	text-align: center;
	padding: 10px;
	background-color: #d4edda;
	color: #155724;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
}