.customer-tools {
	padding: 40px 0 10px 30px;
}

.customer-tools button {
	margin-right: 15px ;
}

.sub-tools {
	padding: 10px 0 20px 30px;
}

.sub-tools .custom-select {
	width: 29%
}

.align-text {
	display: flex;
    align-items: center;
    justify-content: center;
	padding-right: 40px;
}

.button-separator {
	padding: 0 25px;
	line-height: 38px
}

.circuit-list {
	padding: 0 30px;
}

.upload-dialog-box {
	text-align: center;
	padding: 10px;
	background-color: #d4edda;
	color: #155724;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
}

/*Edit & New Page*/
.circuit-form h4{
	margin-top: 50px;
	text-align: center;
}

.update-message {
	margin-top: 30px;
	padding-top: 10px;	
	text-align: center;
}

.needs-validation {
	padding-top: 20px;
}

.form-item {
	align-content: center;
	justify-content: center;
	padding-top: 10px;
}

.form-item label {
	text-align: right;
}