/*Carrier Menu*/
.carrier-menu {
	left: 6%;
	width: 4%;
	z-index: 25;
	background-color: #0261b3;
}

.carrier-menu p {
	font-family: 'Open Sans', sans-serif;
	color: white;	
	font-size: 15px;
}

.supplier-content {
	float: right;
	width: 90%;
	position: fixed;
	left: 10%;
	background-color: rgb(248, 248, 255);
	z-index: 20;
	height: 100vh;
	color: rgb(2, 97, 179);
	padding: 50px;
	font-family: 'Open Sans', sans-serif  !important;
}

.supplier-content pre{
	font-family: 'Open Sans', sans-serif  !important;
	margin: 0;
	display: table-cell; 
	vertical-align: middle;
}

.supplier-content.wide {
	background-color: rgb(2, 97, 179);
	width: 94%;
	position: fixed;
	left: 6%;
}

.supplier-content.wide pre{
	color: rgb(248, 248, 255) !important;
}

.carrier-note {
	font-size: 13px;
}

.table th{
	width: 8 rem;
}
/*Circuit Selection*/
.circuit-selection {
	padding: 20px;
	padding-top: 60px;
	align-content: center;
}

.company-input, .circuit-input {
	position: relative;
	height: auto;
}

.circuit-input-prepend {
	position: absolute;
	width: 40%;
}

.custom-select.circuit-select{
	position: absolute;
	width: 60%;
	left: 40%;
	border-radius: 0 0.25rem 0.25rem 0;
}

/*Email Template*/
.custoner-component {
	cursor: default;
	padding: 100px 40px 40px 40px;
	text-align: center;
}

.type-button {
	border-radius: 7px 7px 0px 0px;
	color: black;
}

.type-button.active {
	/*background-color: #DFCCB9;*/
	background-color: rgb(249, 208, 6, 0.1);
	color: #0261b3;
}

.type-button h4 {
    font-size: 1.15rem;
    padding-top: 10px;
}

.email-content {
	/*background-color: #DFCCB9;*/
	background-color: rgb(249, 208, 6, 0.1);
	padding: 100px 0;
	border-radius: 0px 0px 7px 7px;	
}